body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.input-section, .header-section {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    margin-top: 10px;
    cursor: pointer;
}

.output-frame {
    margin-top: 10px;
    border: 1px solid #474646;
    padding: 15px;
   height: 50px;
}
